* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: #0560CD;
}

header{
  background-color: #FFFFFF;
}

main {
  display: inline-block;
  width: 50%;
  min-width: 400px;
  background-color: #777777;
}

aside {
  display: inline-block;
  background-color: #11AAAA;
  border: 3px dashed #0050BB;
  width: 25%;
  min-width: 150px;
}

nav {
  display: inline-block;
  background-color: #AADDAA;
  verticle-align: top;
}

img {
  display: inline-block;
  height: 110px;
  border-radius: 50%;
}

.bio-image-wrapper {
  display: inline-block;
  background-color: #AA60FF;
}
