{% extends 'main.twig' %}

{% block title %}Contact Page{% endblock title %}

{% block content %}
    <h1>Contact Page Content</h1>
    <p>
      This is definitely the contact page.
    </p>
{% endblock content %}
